.bg-login-image {
    background-image: url("../../assets/image/worker_login.png");
    background-position: center;
    background-size: cover;
  }

.bg-gradient-primary {
    background-image: url("../../assets/image/background3.jpg");
    background-size: cover;
    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe));
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover; */
  }